body {
  font-size: 0.7em;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: #000;
  margin: 0;
  padding: 0 0 0 20px;
}

div, p {
  padding: 4px;
  margin: 0;
}

.mini {
  text-align: right;
}

label {
  display: block;
  float: left;
  width: 100px;
}

input, textarea {
  background: #fff;
  color: #000;
  border: 1px #ccc dashed;
  margin: 2px;
  padding: 2px;
}

input.button {
  font-weight: bold;
  background: #a96;
  border: 1px #440 solid;
  color: #fff;
}

input.hint {
  color: #aaa;
}

textarea {
  padding: 10px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 80%;
  background: #FFFFB6;
}

#header {
  font-size: 1.4em;
  background: #fff;
  border: 1px #ccc solid;
  padding: 8px;
  margin: 0px;
}

.red {
  font-weight: bold;
  color: #fff;
  display: inline;
  padding: 4px;
  margin: 0 10px;
  background: #c00;
}

#error {
  font-weight: bold;
  padding: 2px;
}

#intro {
  font-size: 0.9em;
  padding: 16px 10px;
  color: #444;
}

#logout {
  font-weight: bold;
  padding: 2px;
}


