body {
  font-size: 0.7em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0;
}

div, p {
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
  padding: 1em;
}

input, textarea {
  background: #fff;
  color: #000;
  border: 1px #ccc dashed;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.button {
  font-weight: bold;
  background: #ccc;
  border: 1px #440 solid;
  color: #fff;
}

div.hint {
  position: relative;
  float: left;
}

div.hint label {
  position: absolute;
  top: 0.5em;
  left: 1em;
  color: #aaa;
}

#header {
  font-size: 1.4em;
  background: #fff;
  border: 0.1em #ccc solid;
  padding: 0.5em;
  margin: 0.5em;
}

#message {
  font-weight: bold;
  color: #000;
  padding: 2px;
  background: #ffffb6;
  display: inline;
  margin: 1em;
}

#error {
  font-weight: bold;
  padding: 1em;
}

#intro {
  padding: 1em;
  color: #444;
  text-align: right;
}

#hushnote_help {
  padding: 1em;
  color: #444;
}

#footer {
  text-align: center;
  font-size: 0.7em;
}

#container {
  padding: 0 2em;
}

#whatisoplop, #status {
  padding: 0.5em;
}
